/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-image: url('./assets/rooftopImage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 2000px;
  height: 100vh;
}*/


html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* expands to fill remaining height */
  width: 100%;
  box-sizing: border-box;
}

.full-screen {
  height: 100vh;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
}

.container {
  position: absolute;
  inset: 0; /* top:0; right:0; bottom:0; left:0; */

}