.input {
  border: 2px solid #f3f3f3;
  border-radius: 6px;
  height: 2rem;
  box-sizing: border-box;
  padding: 1px 10px;
  outline: none;
  transition: 0.2s ease-in-out;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap; /* ensures it wraps nicely on smaller screens */
}

.input:focus {
  transition: 0.2s ease-in-out;
  border: 1px solid blue;
}

.search-label {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.search-button {
  padding: 0.5rem 1rem;
  background-color: #00bcd4;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.search-button:hover {
  background-color: #0097a7;
}

.search-label {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

@media (max-width: 600px) {
  .search-container {
    flex-direction: column;
    align-items: stretch;
  }
}